<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
      <div class="container">
        <h1>404 Not Found</h1>
        <p>We're sorry, this resources is not found</p>
        <a href="/dashboard" class="btn">Go to Dashboard</a>
      </div>
      <%- include('../partials/script.ejs') %>
  </body>

</html>